<div class="form-group">
  <div class="col-md-12 col-sm-12 mt-2 d-flex gap-2">
    @if(formAction !== "detail"){
        <button
          type="submit"
          [disabled]="formGroup.invalid"
          [ngClass]="formAction === 'delete'
            ? 'btn btn-danger col-sm-3 col-md-2'
            : 'btn btn-success col-sm-3 col-md-2'"
          (click)="onSubmit.emit()"
        >
          <i class="fas fa-save me-2"></i>
          {{ formAction === "delete" ? "Delete" : "Save" }}
        </button>
    }

    <a [routerLink]="[backLink]" class="btn btn-info col-sm-3 col-md-2">
      <i class="fas fa-arrow-left me-2"></i>
      Back to List
    </a>
  </div>
</div>
