/* Estilo para o header */
.header-navbar {
  background-color: #073498;
  color: #f8f8ff;
  display: block;
  text-align: center;
  padding: 12px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.navbar-custom {
  border-bottom: none; /* Removendo a borda inferior */
  box-shadow: none; /* Removendo a sombra da navbar */
}

.navbar-toggler-icon {
  background-color: #fff;
}

/*.navbar-collapse {
  display: flex;
  justify-content: space-between;
}
*/
.navbar-nav .nav-item .nav-link {
  /*  color: #000;
  padding: 10px;
  text-decoration: none;*/
  font-size: 1.5rem; /* Aumentando o tamanho da fonte em 50% */
  font-weight: bold; /* Tornando a fonte negrito */
}

  .navbar-nav .nav-item .nav-link:hover {
    color: #073498;
  }

.navbar-brand {
  background-color: #073498;
  color: #f8f8ff;
  display: block;
  text-align: center;
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}
